
.Footer-box {
    width: 100%;
    height: 160px;
    border-top: solid 1px lightgray;
    padding: 20px 0px;
    text-align: center;
}
.Footer-box .Footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer-box .Footer-content .Footer-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.Footer-box .Footer-content .Footer-title {
    padding-top: 10px;
    font-size: 2.2rem;
}
